{
	"id":"pyvvo",
	"description":"Model based VVO using AMI data and a genetic algorithm",
	"creator":"PNNL, Brandon Thayer",
	"inputs":[],
	"outputs":[],
	"options":["(simulationId)","'(request)'"],
	"execution_path":"app/pyvvo.py",
	"type":"REMOTE",
	"launch_on_startup":true,
	"execution_path": "python3 pyvvo.py",
    "prereqs":["fncs","fncsgossbridge"],
	"multiple_instances":false
}